/* shit that shanges depending
on screen size goes here this 
includes header menu*/


/* mobile (width<= 450px) */
@media only screen and (max-width: 450px) {
/*  "varor" */
.varor{
    grid-template-columns: 100%;
}
.navHead{
    width: 100%;
    grid-template-columns: auto 50% 70px;
 
}
#menuButton{
    height: 70px;
    visibility: visible;
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    background-color: rgb(0, 0, 0);
	color:rgb(255, 255, 255);
    opacity: .5;
	border: none;
	
  
    
}


#menu {
    display: none; 
   background-color:#ffffff45;
	min-width: 80px;
	height: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 0;
	top: 60px;
	right: 2.5px;
	position: fixed;
    padding: 10px;
}





}
/* for tablets (450 to 770px) */
@media only screen and (min-width: 451px) and (max-width: 769px) {

.varor{
    grid-template-columns:repeat(3, calc(100%/3));
}
.navHead{
    width: 100%;
    grid-template-columns: auto 50% 70px;
 
}
#menuButton{
    height: 70px;
    visibility: visible;
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    opacity: .5;
    border: none;        
}
    
#menu {
   display: none; 
  background-color:#ffffff45;
   min-width: 80px;
   height: 150px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 0;
   top: 60px;
   right: 2.5px;
   position: fixed;
   padding: 10px;
}
    
    
}

/* for laptop/pc (770+px) */
@media only screen and (min-width: 770px){
#menuButton{display: none; }
.varor{
    grid-template-columns:repeat(4, calc(100%/4));
    }
.navHead{
    width: 100%;
    grid-template-columns:repeat(3,calc(100%/3));
    grid-template-rows: 50% 50%;
}

.menu{
height: 50px;
visibility: visible;
grid-row: 2;
grid-column: 1 / 4;
}

#menu{
    transform: translateY(-30px);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



}